@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Bikes_and_Parts_Management_System.Models.Users
@{
    ViewData["Title"] = "AddUsers";
}
<form method="post">
    <div class="form-group">
        <label>Univeristy ID Number</label>
        <input type="number" placeholder="Enter UID" asp-for="UID">
    </div>
    <div class="form-group">
        <label>First Name</label>
        <input type="text" placeholder="Enter First Name" asp-for="FirstName">
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" placeholder="Enter Last Name" asp-for="LastName"/>
    </div>
    <div class="form-group">
        <label>Email Address</label>
        <input type="email" placeholder="Enter Email" asp-for="Email">
    </div>
    <div class="form-group">
        <label>Phone Number</label>
        <input type="number" placeholder="Enter Phone Number" asp-for="PhoneNumber">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" placeholder="Enter Password" asp-for="PasswordHash">
    </div>
    <button type="submit" class="user-info-submit">Register</button>
</form>