@model IEnumerable<BPMS1.Models.Cart>

@{
    ViewData["Title"] = "Cart Details";
}

<table class="table">
    <tbody>
@foreach (var item in Model) 
{
    @foreach(var det in item.OrderDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => det.ProductId)
                </td>
            </tr>
        }

}


  
  </tbody>
</table>

      
            
 

        
    
